<h3 class="mt-4">Manage Employees</h3>
<table class="table table-hover mt-3 table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody class="pt-2">
        <tr *ngFor="let customer of customerList">
            <th scope="row">{{customer.customerId}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.contact}}</td>
            <td><button  data-bs-toggle="modal" (click)="selectCustomer(customer)"  [attr.data-bs-target]="'#exampleModalLong'"
                    class="btn btn-primary "><i class="bi bi-gear"></i></button></td>
            <td><button  class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>

</table>

<!-- /////////////////////////////////////////////////////////// -->

<h3 class="mt-4">Manage Items</h3>
<table class="table table-hover mt-3 table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Rental Per Day</th>
            <th scope="col">Fine Per Day</th>
            <th scope="col">Availability</th>
        </tr>
    </thead>
    <tbody class="pt-2">
        <tr *ngFor="let items of itemList">
            <th scope="row">{{items.itemId}}</th>
            <td>{{items.name}}</td>
            <td>{{items.rentalPerDay}}</td>
            <td>{{items.finePerDay}}</td>
            <td><button  data-bs-toggle="modal"   [attr.data-bs-target]="'#exampleModalLong1'"
                    class="btn btn-primary "><i class="bi bi-gear"></i></button></td>
            <td><button  class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>

</table>



<!-- Modal Component ////////////////////////////////////////////////// -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Employee Details</h5>
            </div>
            <div class="modal-body">
                <div class="col-12 mt-5 p-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="div">
                                    <label for="name" class="form-label">Name</label>
                                    <input id="name" type="text" [(ngModel)]="selectedCustomer.name" value="{{editedCustomer.name}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container pt-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="div">
                                    <label for="city" class="form-label">City</label>
                                    <input id="city" type="text" [(ngModel)]="selectedCustomer.city" value="{{editedCustomer.city}}" class="form-control" />
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="container pt-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="div">
                                    <label for="contact" class="form-label">Contact</label>
                                    <input id="contact" type="text" [(ngModel)]="selectedCustomer.contact"  value="{{editedCustomer.contact}}" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="loadCustomers()" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="updateCustomer()" data-bs-dismiss="modal" class="btn btn-primary">Update Changes</button>
            </div>
        </div>
    </div>
</div>
