<h3 class="mt-4">Manage Employees</h3>
<table class="table table-hover mt-3 table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody class="pt-2">
        <tr *ngFor="let customer of customerList">
            <th scope="row">{{customer.customerId}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.contact}}</td>
            <td><button  data-bs-toggle="modal"  [attr.data-bs-target]="'#exampleModalLong'"
                    class="btn btn-primary "><i class="bi bi-gear"></i></button></td>
            <td><button  class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>

</table>

///////////////////////////////////////////////////////////

<h3 class="mt-4">Manage Items</h3>
<table class="table table-hover mt-3 table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Rental Per Day</th>
            <th scope="col">Fine Per Day</th>
        </tr>
    </thead>
    <tbody class="pt-2">
        <tr *ngFor="let customer of customerList">
            <th scope="row">{{customer.customerId}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.contact}}</td>
            <td><button  data-bs-toggle="modal"  [attr.data-bs-target]="'#exampleModalLong'"
                    class="btn btn-primary "><i class="bi bi-gear"></i></button></td>
            <td><button  class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>

</table>
